
/*Configuraciones de las tablas*/

    /*Ajustes visuales de la tabla de usuarios*/

    #tabla_usuarios{
        border-radius: 10px;
        max-height: 37vh;
    }

    #tabla_usuarios table{
        width: 150vw;
    }

    /*Ajustes visuales de la tabla de equipos*/

    #tabla_equipos{
        border-radius: 10px;
        max-height: 37vh;
    }

    #tabla_equipos table{
        width: 150vw;
    }

    /*Ajustes visuales de la consulta general*/

    #Consulta_form input{
        background-color: #aaaaa6;
    }

/*Configuración de los estilos de los modales para permitir la edición*/

    .modal-body{
        background-color: #f2f2f2;
    }

    .modal input{
        color: #ffffff;
        background-color: #33ccff;
    }

    .modal select{
        color: white;
        background-color: #33ccff;
    }

    .modal textarea{
        color: white;
        background-color: #33ccff;
    }

    .modal #bloqueado input{
        background-color: #ff3333;
        text-align: center;
    }