
/*Ajustes visuales del logo*/

    #Seccion_principal img{
        width: 40%;
        height: auto;
        position: absolute;
        top: 24%;
        left: 50%;
        transform: translate(-50%, -50%)
    }

/*Ajustes visuales del contenido del navbar*/ 

    nav{
        background-color: #b9b9b9;
    }

    nav img{
        width: 18%;
        height: auto;
    }

    /*Botones navbar*/

        /*Botones que se muestran antes de ingresar*/

        nav #boton_navegacion{
            width: 20vh;
        }

        nav #boton_registro{
            width: 20vh;
        }

        /*Botones que solo se muestran después de ingresar */

        nav #boton_consultas{
            width: 16vh;
        }

        nav #boton_registros{
            width: 16vh;
        }

/*Animaciones de los botones*/

    /*Botones principales (pre-ingreso)*/

        /*Botón login*/
        nav #boton_navegacion:hover{
            background-color: #0edb5d;
            transform: scale(1.1);
            transition: all 0.4s linear;
            border-radius: 10px;
        }

        /*Botón registro*/
        nav #boton_registro:hover{
            background-color: #c300ff;
            transform: scale(1.1);
            transition: all 0.4s linear;
            border-radius: 10px;
        }

    /*Botones principales (post-ingreso)*/

        /*Botón para ir a la sección registros*/

        nav #boton_registros:hover{
            background-color: #4cd6a1;
            transform: scale(1.1);
            transition: all 0.4s linear;
            border-radius: 10px;
        }

        /*Botón para ir a la sección consultas*/

        nav #boton_consultas:hover{
            background-color: #ffd900;
            transform: scale(1.1);
            transition: all 0.4s linear;
            border-radius: 10px;
        }

        /*Botón para descargar datos de la base de datos*/

        nav #boton_descargar:hover{
            background-color: #15ff00;
            transform: scale(1.1);
            transition: all 0.4s linear;
            border-radius: 10px;
        }

        /*Botón usuario (cierre de sesión) */

        nav #boton_usuario:hover{
            background-color: #18d8e6;
            transform: scale(1.1);
            transition: all 0.4s linear;
            border-radius: 10px;
        }

    /*Botones de descarga*/

        /*Botón descargar tabla trabajadores*/

        #descargar_trabajadores:hover{
            background-color: #008cff;
            color: #ffffff;
            transform: scale(1.1);
            transition: all 0.4s linear;
            border-radius: 10px;
        }

        /*Botón descargar tabla equipos*/

        #descargar_equipos:hover{
            background-color: #ffae00;
            color: #ffffff;
            transform: scale(1.1);
            transition: all 0.4s linear;
            border-radius: 10px;
        }

        /*Botón descargar tabla histórico*/

        #descargar_historico:hover{
            background-color: #08b64a;
            color: #ffffff;
            transform: scale(1.1);
            transition: all 0.4s linear;
            border-radius: 10px;
        }

        /*Botón descargar BDD*/

        #descargar_todo:hover{
            background-color: #5900ff;
            color: #ffffff;
            transform: scale(1.1);
            transition: all 0.4s linear;
            border-radius: 10px;
        }

        /*Botón para cerrar sesión*/

        #boton_cerrar:hover{
            color: #ffffff;
            transform: scale(1.1);
            transition: all 0.4s linear;
            border-radius: 10px;
        }