
/*Ajustes visuales del logo*/

    #Seccion_principal img{
        width: 40%;
        height: auto;
        position: absolute;
        top: 24%;
        left: 50%;
        transform: translate(-50%, -50%)
    }

/*Ajustes visuales del contenido del navbar*/ 

    nav{
        background-color: #b9b9b9;
    }

    nav img{
        width: 18%;
        height: auto;
    }

    /*Botones navbar*/

        nav #boton_navegacion{
            width: 20vh;
        }

        nav #boton_registro{
            width: 20vh;
        }

        /*Botones que solo se muestran después de ingresar */

        nav #boton_consultas{
            width: 16vh;
        }

        nav #boton_registros{
            width: 16vh;
        }

/*Estilos de los formularios de registro*/ 

    #Encabezado_registro{
        background-color: #00ffff;
    }

    #Fondo_registro{
        background-color: #00ffaa;
    }

/*Estilos del formulario de ingreso*/ 

    #Encabezado_ingreso{
        background-color: #00ffff;
    }

/*Estilos de los botones de descargas*/

    #descargar_trabajadores:hover{
        background-color: #008cff;
        color: #ffffff;
        transform: scale(1.1);
        transition: all 0.4s linear;
        border-radius: 10px;
    }

    #descargar_equipos:hover{
        background-color: #ffae00;
        color: #ffffff;
        transform: scale(1.1);
        transition: all 0.4s linear;
        border-radius: 10px;
    }

    #descargar_historico:hover{
        background-color: #08b64a;
        color: #ffffff;
        transform: scale(1.1);
        transition: all 0.4s linear;
        border-radius: 10px;
    }

    #descargar_todo:hover{
        background-color: #5900ff;
        color: #ffffff;
        transform: scale(1.1);
        transition: all 0.4s linear;
        border-radius: 10px;
    }

    #boton_cerrar:hover{
        color: #ffffff;
        transform: scale(1.1);
        transition: all 0.4s linear;
        border-radius: 10px;
    }