
/*Configuración del fondo*/
    #general{

        display: grid;
        width: 100%;
        height: 100vh;

        background-image: linear-gradient(
            to bottom right,
            #e3fce3 0%,
            #31ff31 20%,
            #528b52 40%,
            #0dd60d 60%,
            #417441 80%
        );

        background-size: 200% 200%;
    
        animation: movimiento 8s linear infinite alternate;
    }

/*Animación para el movimiento del fondo*/

    @keyframes movimiento{
        from {
            background-position:0 0;
        }
        to{
            background-position: 100% 100%;
        }
    }